<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
</head>
<body>
	<div class="container">
		<fieldset>
			<form action="/" method="post">
				<input type="text" name="city" class="city_input" placeholder="Enter a city name" required>
				<input type="submit" class="submit_button" value="Get Weather">
			</form>
			<% if(weather !== null){ %>
				<p><%= weather %></p>
			<% } %>
			<% if(error !== null){ %>
				<p><%= error %></p>
			<% } %>
		</fieldset>
	</div>
</body>
</html>